body{
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../Images/Fondo_Admin.jpg) no-repeat center center fixed;
    background-size: cover;
}
#Titulo {
    float: left;
    padding-top: 1em;
    color: white;
}

#Logo {
    width: 10em;
    float: left;

}
#Menu {
    display: block;
    font: 1.2em Tahoma, Sans-serif;
    text-align: center;
    margin-right: 5em;
    float: right;
    

}

nav ul {
    display: inline-block;
    list-style: none;
}

nav li {
    position: relative;
    float: left;
    list-style-type: none;

}

nav li a {
    display: block;
    padding: 1em 3em;
    color: white;
    text-decoration: none;
}

nav li:hover {

    opacity: 0.8;
    color: white;
}


table {
    margin: 10em 10em;
    font-size: 20px;

    border-collapse: collapse;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    )   no-repeat center center fixed;
    border-radius: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: inline-start;
}



td {
   border: none;
   padding: 2em;
}

th, td {
   font-weight: bold;
   border: 1px solid black;
   padding: 10px;
   border: none;
   text-align: center;
   padding: 1em;

}

td {
   font-weight: lighter;
}
tr:hover{
   background: linear-gradient(
           rgba(0, 0, 0, 0.3),
           rgba(0, 0, 0, 0.3)
   )   no-repeat center center fixed;
}


#wrapper{
    margin: 0em 15em 4em 70em;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    float: right;
    position: fixed;
}
.form-control{
    margin: 2em;
    font-size: 20px;
    display: block;
    width: 80%;
    border: none;
    border-bottom: 1px solid #0000001E;
    resize: none;
    font-size: 14px;
    padding: 0.2em;
    color: rgba(0,0,0,0.87);


}
a{
    text-decoration: none;
    color: black;
    color: white;

}

.Enviar{
    background-color: #324ea2;
    padding: 1em;
    margin-bottom: 1em;


}