#Menu {

    font: 1.2em Tahoma, Sans-serif;
    text-align: center;
    margin-right: 6em;
    float: right;
    left: 0;
    right: 0;
    top: 0;
}

header{
  background: linear-gradient(
            rgba(51, 38, 112, 0.5),
            rgba(0, 0, 0, 0.199)
    );
    height: 12em;
    left: 0;
    right: 0;
    top: 0;
    opacity: 14;
}

h1{
  color: white;
}


nav ul {
    display: inline-block;
    list-style: none;
}

nav li {
    position: relative;
    float: left;
    list-style-type: none;

}

nav li a {
    display: block;
    padding: 1em 3em;
    color: #ffffff;
    text-decoration: none;
}

nav li:hover {

    opacity: 0.8;
    color: white;
}

#Perfil{
    width: 2em;
    padding-bottom: 0.2em;
}
nav li ul{
    display:none;
}

nav li:hover ul{display:contents;}