#Titulo {
    float: left;
    padding-top: 1em;
    color: white;
}

#Logo {
    width: 10em;
    float: left;

}
body{
    background: linear-gradient(
            rgba(0, 0, 0, 0.158),
            rgba(0, 0, 0, 0.158)
    ),url(../Images/Fondo_Perfil.png) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    opacity: 14;

}


#Imagen_Menu {
    float: left;
    width: 1.5em;
    padding-right: 0.5em;

}

#table{
    margin: 11em 8em;
    background: linear-gradient(
        rgba(0, 0, 0, 0.500),
        rgba(0, 0, 0, 0.500)
)   no-repeat center center fixed;
    color: white;
    text-align: center;
    width: 80%;



}
#Imagen_Perfil{
    width: 15em;
    height: 7em;
    font-family: "titilliumtext22l_ltmedium", sans-serif;
    padding-top: 2em;
}
#Nombre{
    color: white;
    font-family: "titilliumtext22l_ltmedium", sans-serif;
    font-size: 36px;
    font-family: "titilliumtext22l_ltmedium", sans-serif;
}

#Estadisticas{
    text-align: center;
    font: 36px "Harlow Solid Italic";
}
#Datos{
text-align: center;
    font: 36px "Harlow Solid Italic";
}
#Fila1{
    padding: 1em;
    margin-bottom: 5em;
    
}


td{
    text-align: center;
    font-size: 24px;
}

#Win{
    width: 1em;
    height: 0.8em;

}
#Lose{
    width: 1.2em;
    height: 0.8em;
    margin-left: 1em;
    margin-right: 0.2em;
}
#Rango{
    width: 1.5em;
    height: 1em;
}

#Perfil{
    width: 2em;
    padding-bottom: 0.2em;
}
nav li ul{
    display:none;
}

nav li:hover ul{display:contents;}
