
#Titulo {
    float: left;
    padding-top: 1em;
    color: white;
}

#Logo {
    width: 10em;
    float: left;

}
body{
    background-color: white;
    background:url(../Images/Fondo_Torneo.png) no-repeat center center fixed;
    background-size: cover;




}



nav ul {
    display: inline-block;
    list-style: none;
}

nav li {
    position: relative;
    float: left;
    list-style-type: none;

}

nav li a {
    display: block;
    padding: 1em 3em;
    color: #ffffff;
    text-decoration: none;
}

nav li:hover {

    opacity: 0.8;
    color: white;
}



 table {
     margin: 5em 22em;
     font-size: 20px;

     border-collapse: collapse;
     background: linear-gradient(
             rgba(0, 0, 0, 0.3),
             rgba(0, 0, 0, 0.3)
     )   no-repeat center center fixed;
     border-radius: 20px;
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 #table2{
    margin: 10em 22em;
    font-size: 20px;

    border-collapse: collapse;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    )   no-repeat center center fixed;
    border-radius: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



td {
    border: none;
    padding: 1em;
}
a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

th, td {
    font-weight: bold;
    border: 1px solid black;
    border: none;
    text-align: center;
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    font-weight: lighter;
}
tr:hover{
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    )   no-repeat center center fixed;
}


#Perfil{
    width: 2em;
    padding-bottom: 0.2em;
}
nav li ul{
    display:none;
}

nav li:hover ul{display:contents;}


#Menu  {
    display: block;
    font: 1.2em Tahoma, Sans-serif;
    text-align: center;
    margin-right: 6em;
    float: right;


}

button{
    opacity: 1;
    border: none;
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
)   no-repeat center center fixed;
color: white;
font: 0.9em Tahoma, Sans-serif;
}
